@charset "gb2312";

/* CSS Document */


/* ͨ�� */

body,
div,
address,
blockquote,
iframe,
ul,
li,
ol,
dl,
dt,
dd,
dl,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
table,
caption,
th,
td,
form,
legend,
fieldset,
input,
button,
select,
textarea {
	margin: 0;
	padding: 0;
	font-family: "Microsoft YaHei", "΢���ź�";
	color: #343434;
}

ol,
ul,
li {
	list-style: none;
}

img {
	border: 0;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	font-style: normal;
	color: #343434;
	cursor: pointer;
}

em,
i {
	font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}

.clear {
	clear: both;
	font-size: 0;
	height: 1px;
	width: 99%;
}

body {
	background: #fff repeat-x;
}

.top {
	width: 100%;
	margin: 0 auto;
	border-top: 5px solid #01b786;
}

.top1 {
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 15px;
}

.navbar-nav>li>a {
	font-size: 16px;
}

.navbar-nav>li>a:hover {
	color: #ffffff;
}

.navbar-nav>li:hover {
	background: #059770;
	color: #fff;
}

.banner {
	width: 100%;
	text-align: center;
	margin: 0 auto;
	position: relative;
	z-index: 100;
}

.info {
	margin: 0 auto;
}

.company {
}
.company p{
	text-indent: 2em;
	line-height:30px;
}
.category_title {
	height: 66px;
	border-bottom: 1px dashed #ccc;
}
.category_title h3{
	height: 55px;
	line-height: 65px;
	color: #02b686;
	font-size: 25px;
	font-weight: bold;
}

.category_title>.more{
	height: 55px;
	line-height: 65px;
	color: #02b686;
	font-size: 16px;
	font-weight: bold;
}

.info_r {
	float: right;
	width: 389px;
}

.info_r_t {
	height: 66px;
	border-bottom: 1px dashed #ccc;
}

.info_r_t_l {
	float: right;
	height: 66px;
}
 
.info_r_t_l img {
	height: 66px;
}

.info_r_t_r {
	float: right;
	padding-right: 42px;
	height: 96px;
}

.info_r_t_r img {
	height: 96px;
	width: 132px;
}


.new_list ul li {
	width: 368px;
	height: 25px;
	line-height: 25px;
	padding-top: 11px;
}

.new_list ul li a {
	display: block;
	font-size: 14px;
	color: #646464;
	text-overflow:ellipsis;
}

.new_num {
	display: block;
	height: 25px;
	float: left;
	margin-left: 5px;
	width: 15px;
	text-align: center;
	color: #646464;
	font-size: 14px;
}

.new_con {
	display: block;
	height: 25px;
	float: right;
	width: 338px;
}

.info_r_c ul li a:hover {
	display: block;
	height: 28px;
	width: 368px;
	line-height: 25px;
	background: #f1f2f3;
}

.tuijian {
	height: 50px;
	margin: 0 auto;
}

.f3 { 
	font-size: 16px;
	font-family: "微软雅黑";
	color: #02b686;
	height: 44px;
	line-height: 44px;
	width: 140px;
	text-align: center;
}

.gundong {
	
	height: 261px;
	margin: 0 auto;
}

#colee_left1 {
	height: 241px;
	overflow: hidden;
	position: relative;
	margin: 10px auto;
}

.xs_ul1 {
	width: 9999px;
	position: absolute;
}

.xs_ul1 li {
	width: 235px;
	height: 211px;
	margin-left: 25px;
	margin-top: 30px;
	float: left;
}

.xs_ul1 li img {
	width: 235px;
	height: 180px;
	padding: 2px;
}

.xs_ul1 li p {
	text-align: center;
	line-height: 22px;
	font-size: 12px;
}



.about {
	
	margin: 0 auto;
	margin-top: 25px;
}

.about_l {
	float: left;
	width: 210px;
	border: 1px solid #cfcfcf;
	position: relative;
}

.daohang {
	position: absolute;
	top: 10px;
	left: -9px;
}

.dhfenlei {
	width: 210px;
	margin-top: 77px;
	padding-bottom: 10px;
}

.dhfenlei ul li {
	margin: 0 auto;
	display: block;
	background: #f2f2f2;
	width: 208px;
	margin-top: 10px;
}

.dhfenlei ul li a {
	display: block;
	color: #646464;
	text-align: center;
	width: 208px;
	font-size: 14px;
}

.dhfenlei ul li a:hover {
	display: block;
	background: #02b686;
	color: #fff;
	text-align: center;
	width: 208px;
	font-size: 14px;
}

.about_r {
	float: right;
	width: 956px;
}

.about_r_t {
	height: 62px;
	width: 956px;
	background: #f2f2f2;
}

.about_r_t .img {
	float: left;
	height: 62px;
	width: 133px;
	background: url(../images/bj.jpg) no-repeat;
	font-size: 20px;
	font-family: "΢���ź�";
	padding-left: 55px;
	line-height: 62px;
	color: #fff;
}

.about_r_t span {
	float: right;
	height: 62px;
	padding-right: 22px;
	color: #646464;
	font-size: 14px;
	line-height: 62px;
}

.about_r_t span a {
	color: #646464;
	font-size: 14px;
	line-height: 62px;
}

.about_r_c {
	width: 965px;
	margin-top: 27px;
	margin-left: 18px;
}

.about_r_c p {
	font-size: 14px;
	color: #646464;
	line-height: 28px;
}

.pro {
	
	margin: 0 auto;
	margin-top: 25px;
}

.pro_l {
	float: left;
	width: 210px;
	border: 1px solid #cfcfcf;
	position: relative;
}

.pro_r_c {
	width: 965px;
	margin-top: 27px;
	margin-left: 18px;
}

.pro_r_c ul li {
	float: left;
	height: 238px;
	width: 269px;
	pading-left: 50px;
	padding-right: 50px;
}

.pro_r_c ul li img {
	height: 200px;
	width: 269px;
	border: 1px solid #999;
	padding: 2px;
}

.pro_r_c ul li p {
	text-align: center;
	line-height: 22px;
	font-size: 12px;
	color: #666666;
}

.yeshu {
	width: 920px;
	background: #02b686;
	height: 28px;
	line-height: 28px;
	text-align: center;
	font-size: 12px;
	font-family: "����";
	margin: 0 auto;
}

.yeshu a {
	color: #f2f2f2;
	padding: 2px 5px;
}

.yeshu a:hover,
.yeshu .select {
	background: #f2f2f2;
	color: #5b5a5a;
}

.pro_show {
	width: 965px;
	margin-top: 27px;
	margin-left: 18px;
}

.pro_show p {
	font-size: 14px;
	font-family: "����";
	color: #666666;
}

.new_r_c {
	width: 965px;
	margin-top: 27px;
	margin-left: 18px;
}

.new_r_c ul li {
	line-height: 30px;
	height: 30px;
	text-align: right;
}

.new_r_c ul li a {
	float: left;
	width: 913px;
	height: 22px;
	display: block;
}

.new_r_c ul li a span {
	float: left;
	font-size: 14px;
	color: #646464;
}

.new_r_c ul li a span i {
	color: #02b686;
}

.new_r_c ul li a em {
	float: right;
	font-size: 14px;
	color: #646464;
}

.new_r_c ul li a:hover {
	display: block;
	line-height: 30px;
	height: 30px;
	width: 913px;
	background: #f1f2f3;
}

.new_xq {
	width: 965px;
	margin-top: 27px;
}

.new_xq h1 {
	font-size: 14px;
	color: #646464;
	font-family: "����";
	text-align: center;
}

.new_date {
	height: 28px;
	width: 913px;
	background: #f1f2f3;
	margin: 0 auto;
	line-height: 28px;
}

.new_xq h2 {
	font-size: 12px;
	color: #646464;
	font-family: "����";
	text-align: center;
}

.new_xq p {
	font-size: 14px;
	color: #646464;
	font-family: "����";
	text-align: left;
	line-height: 28px;
}

.liuyan_r_c {
	width: 965px;
	margin-top: 27px;
	margin-left: 18px;
}

.liuyan_r_c h1 {
	line-height: 32px;
}

.liuyan_r_c h1 td {
	color: #424242;
}

.liuyan_r_c h1 td span {
	color: #f00;
}

.ptint2 {
	padding-left: 8px;
	width: 260px;
	height: 26px;
	line-height: 26px;
	border: 1px solid #b0b4b6;
}

.message,
.message0,
.message1 {
	width: 930px;
	margin: 0 auto;
	margin-top: 15px;
}

.message table tr td {
	color: #646464;
	font-size: 14px;
	font-family: "����";
}

.message1 table tr td {
	color: #646464;
	font-size: 12px;
	font-family: "����";
}

.message span {
	color: red;
}

.message h3 {
	font-size: 14px;
	color: #646464;
	font-family: "����";
	text-align: center;
}

.mesdate {
	height: 28px;
	background: #f1f2f3;
	margin: 0 auto;
	line-height: 28px;
}

.message h2 {
	font-size: 12px;
	color: #646464;
	font-family: "����";
	text-align: center;
}

.message p {
	font-size: 14px;
	color: #646464;
	font-family: "����";
	text-align: left;
	line-height: 28px;
}

.inp {
	width: 260px;
	height: 29px;
	line-height: 29px;
	border: 1px solid #d0d0d0;
	background: #f2f2f2;
}

.inp4 {
	width: 80px;
	height: 20px;
	line-height: 20px;
	border: 1px solid #d0d0d0;
	background: #f2f2f2;
}

.inp6 {
	width: 100px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #d0d0d0;
	background: #f2f2f2;
}

.inp5 {
	border: 1px solid #d0d0d0;
	background: #f2f2f2;
	max-height: 114px;
	min-height: 114px;
	max-width: 550px;
	min-width: 550px;
	line-height: 20px;
}

.inp2 {
	border: 1px solid #d0d0d0;
	background: #f2f2f2;
	max-height: 114px;
	min-height: 114px;
	max-width: 460px;
	min-width: 460px;
	line-height: 20px;
}

.middle {
	margin-left: 18px;
	margin-top: 50px;
}

.inp3 {
	cursor: pointer;
	width: 138px;
	height: 44px;
	line-height: 44px;
	background: #02b686;
	border: 0px;
	color: #fff;
	font-size: 16px;
	font-family: "����";
	font-weight: bold;
	margin-left: 23px;
}

.tablelist {
	margin: 20px;
	line-height: 30px;
}

.tablelist tr th {
	width: 80px;
	font-size: 13px;
	font-weight: normal;
	text-align: left;
}

.page {
	padding-top: 10px;
	line-height: 25px;
	font-size: 14px;
	font-family: "����";
	color: #666666;
}

.page a {
	font-size: 14px;
	font-family: "����";
	color: #666666;
}

a.slidesjs-next,
a.slidesjs-previous,
a.slidesjs-play,
a.slidesjs-stop {
	background-image: url(../images/kkkk.png);
	background-repeat: no-repeat;
	display: block;
	width: 48px;
	height: 41px;
	overflow: hidden;
	text-indent: -9999px;
	float: left;
	position: absolute;
	left: 57.5%;
	z-index: 100000000;
	bottom: 0px;
}

a.slidesjs-next {
	margin-right: 10px;
	background-position: -48px 0;
	left: 60%;
	position: absolute;
}

a.slidesjs-previous {
	background-position: 0 0;
}

a.slidesjs-play {
	width: 15px;
	background-position: -25px 0;
}

a:hover.slidesjs-play {
	background-position: -25px -18px;
}

a.slidesjs-stop {
	width: 18px;
	background-position: -41px 0;
}

a:hover.slidesjs-stop {
	background-position: -41px -18px;
}

.slidesjs-pagination {
	margin: 0;
	float: right;
	list-style: none;
	display: none;
}

.slidesjs-pagination li {
	float: left;
	margin: 0 1px;
}

.slidesjs-pagination li a {
	display: block;
	width: 13px;
	height: 0;
	padding-top: 13px;
	background-image: url(img/pagination.png);
	background-position: 0 0;
	float: left;
	overflow: hidden;
}

.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
	background-position: 0 -13px
}

.slidesjs-pagination li a:hover {
	background-position: 0 -26px
}